<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.BLE.johnny_wei.testtool">

    <uses-feature android:name="android.hardware.usb.host" /> <!-- storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- //usb driver use -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- android 10 use -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-feature android:name="android.hardware.location.gps" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mytheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.BLE.johnny_wei.testtool.BLETest.TEST_ACTIVITY.testcase_select"></activity>
        <activity android:name="com.BLE.johnny_wei.testtool.BLEutils.BLE_ACTIVITY.ble_dev_select" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_view_tool" />
        <activity android:name="com.BLE.johnny_wei.testtool.time" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_ble" />
        <activity android:name="com.BLE.johnny_wei.testtool.collection" />
        <activity android:name="com.BLE.johnny_wei.testtool.aleart_test" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_draw" />
        <activity android:name="com.BLE.johnny_wei.testtool.spinner_option" />
        <activity android:name="com.BLE.johnny_wei.testtool.connected_list" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_surface" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_listview_tree" />
        <activity android:name="com.BLE.johnny_wei.testtool.expandleble" />
        <activity android:name="com.BLE.johnny_wei.testtool.scan_list" />
        <activity android:name="com.BLE.johnny_wei.testtool.bytecheck" />
        <activity android:name="com.BLE.johnny_wei.testtool.customview" /> <!-- <activity android:name=".test_ble"> -->
        <activity android:name="com.BLE.johnny_wei.testtool.xmlandinvoke" />
        <activity android:name="com.BLE.johnny_wei.testtool.uart" />
        <activity android:name="com.BLE.johnny_wei.testtool.csv" />
        <activity android:name="com.BLE.johnny_wei.testtool.handler" />
        <activity android:name="com.BLE.johnny_wei.testtool.ble" />
        <activity android:name="com.BLE.johnny_wei.testtool.invok" />
        <activity android:name="com.BLE.johnny_wei.testtool.open_file_intent" />
        <activity android:name="com.BLE.johnny_wei.testtool.serviceExample" /> <!-- <activity android:name=".test_surface" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.NoActionBar" android:configChanges="keyboard|keyboardHidden|orientation"> -->
        <activity android:name="com.BLE.johnny_wei.testtool.write">


            <!-- android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name="com.BLE.johnny_wei.testtool.custom_expand_list" />
        <activity android:name="com.BLE.johnny_wei.testtool.BRrate" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_layout" />
        <activity android:name="com.BLE.johnny_wei.testtool.permision_test" />
        <activity android:name="com.BLE.johnny_wei.testtool.readxml" />
        <activity android:name="com.BLE.johnny_wei.testtool.advdata" />
        <activity android:name="com.BLE.johnny_wei.testtool.test_callback" />

        <service
            android:name="com.BLE.johnny_wei.testtool.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.BLE.johnny_wei.testtool.bleService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>