<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.johnny_wei.testtool">
    <!-- com.example.johnny_wei.testtool.ble -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- storage -->
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mytheme">
        <activity android:name=".customview"></activity>
        <!-- <activity android:name=".test_ble"> -->
        <activity android:name=".scan_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".xmlandinvoke" />
        <activity android:name=".test_layout" />
        <activity android:name=".write" />
        <activity android:name=".linkedmap" />
        <activity android:name=".ble" />
        <activity android:name=".invok" />
        <activity android:name=".time" />
        <activity android:name=".serviceExample" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".bleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".handler" />
        <activity android:name=".BRrate" />
        <activity android:name=".test_spinner" />
        <activity android:name=".advdata" />
        <activity android:name=".permision_test" />
        <activity android:name=".readxml" />
        <activity android:name=".test_ble" />
        <activity android:name=".bytecheck" />
        <activity android:name=".test_callback" />
    </application>

</manifest>